.bg-red {
  background-color: red;
}

.box {
  height: 50vh;
  padding: 0 !important;
  transition: all 2s linear;
}

/* 不透明度が下がり、長さが短くなるアニメーション */
.deplete-animation {
  animation: deplete 1s linear forwards;
}

/* 不透明度が上がり、長さが長くなるアニメーション */
.expand-animation {
  animation: deplete 1s linear reverse forwards;
}

/* だんだん長さが減り、不透明度が落ちていく */
@keyframes deplete {
  0% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}
