.vh-75 {
  height: 75vh;
}
#paper {
  color: white;
  background-image: url("https://cdn.pixabay.com/photo/2017/05/10/19/29/robot-2301646_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#paperText {
  font-size: 2rem;
  letter-spacing: 5;
  line-height: 3;
  font-weight: bold;
}
