.bg-black {
  background-color: black;
}
.title {
  font-weight: bold;
  font-size: 2rem;
}
p {
  font-weight: bold;
  font-size: 2rem;
}
.bg-lightblue {
  background-color: lightblue;
}
header {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
input {
  width: 80%;
  border-radius: 5px;
}

#searchBtn {
  background-color: orange;
}
#target {
  border: 1px solid;
}
td {
  font-size: 1rem;

  font-weight: normal;
}
