body {
  font-family: Futura !important;
  letter-spacing: 0.02em !important;
}

p {
  margin: 0 !important;
}

/* font-size */
.rem1p3 {
  font-size: 1.3rem;
}

.rem1p5 {
  font-size: 1.5rem;
}

/* background */
.bg-green {
  background: #4ba3a1;
}

.bg-blue {
  background: #1a4567;
}
.bg-red {
  background: red;
}
.bg-white {
  background: white;
}
.bg-gray {
  background: gray;
}
.vh-100 {
  height: 100vh;
}
.hover {
  cursor: pointer;
}
